:root {
  --primary: #d63384;
  --primary-dark: #b0256d;
  --secondary: #fff0f6;

  --text-dark: #2d2d2d;
  --text-light: #666;

  --white: #ffffff;
  --border: #ececec;

  --shadow: 0 4px 20px rgba(0,0,0,0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
  color: var(--text-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

button,
input,
select,
a {
  font-family: 'Inter', sans-serif;
}